:root {
	--grey: #f2f2f2;
	--grey-light: #f2f2f24f;
	--radius: 8px;
}
.button {
	border: 0;
	padding: 0;
	padding-left: 4px;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
  text-decoration: underline;
	transition: .3s linear opacity;
	background-color: transparent;
}
.button--primary {
	background-color: var(--grey);
	border: 0;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
	padding: 12px 20px;
	border-radius: var(--radius);
	transition: .2s linear transform, .2s linear box-shadow;
}
.button:hover,
.button--primary:hover {
	transform: translateY(-1px);
	box-shadow: 8px 8px 20px -5px #dbdbdb;
}
.button__icon-function {
	background-color: white;
	border-radius: 100%;
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
	margin-right: 7px;
}
body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: var(--bs-gray-dark);
}
main {
background-color: var(--grey);
position: relative;
}
.book-card {
	background-color: white;
	border-radius: var(--radius);
}
.book-card__heading {
	font-size: 27px;
	margin: 0;
}
.book-card__text {
	font-style: italic;
}
.book-card__box-image {
	height: 425px;
	position: relative;
	overflow: hidden;
}
.book-card__item-image {
	width: 100%;
	height: 100%;
}
.book-card__box-iformacion-item {
	background-color: var(--grey-light);
	border: 3px solid var(--grey);
	padding: 9px 17px;
	border-radius: var(--radius);
}
.book-card__box-iformacion-text {
	font-style: italic;
}
.book-card__description {
	background-color: var(--grey-light);
	border: 3px solid var(--grey);
	padding: 12px 17px;
	border-radius: var(--radius);
}
.book-card__description-text {
	margin: 0;
	font-style: italic;
}
.book-card__modal {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
	background-color: white;
	height: 100%;
	width: 100%;
	padding: 46px;
	visibility: hidden;
	overflow-y: auto;
}
.js-modal-active {
	visibility: visible;
}
.book-card__modal-item-exit {
	background-color: transparent;
	border: none;
}
.book-card__modal-icon-exit {
	font-size: 28px;
	border: 2px solid red;
	background: red;
	color: white;
}
/* nav */
.nav__logo {
	width: 85px;
	transition: .5s linear transform ;
}
.nav__logo:hover {
	transform: scale(1.07);
}
.nav__icon-serch {
	background-color: var(--grey);
	padding: 11px;
	border-radius: 16px 0 0 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__icon-serch .button__icon-function {
	margin: 0;
}
.nav__input-serch {
	border: 2px solid var(--grey);
	border-radius: 0 9px 9px 0;
	padding: 0 13px 0 13px;
	transition: .3s linear background-color;
	cursor: pointer;
}
.nav__input-serch:hover,
.nav__input-serch:focus {
	background-color: var(--grey-light);
	outline: 1px dotted solid var(--grey);
}
.nav__input-serch::placeholder {
  font-style: italic;
  font-size: 16px;
	opacity: 1;
	color: var(--bs-gray-dark);
}
.nav__person {
	line-height: 1.2;
}
.nav__person-name {
	font-style: italic;
}
.nav {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #00000033;
	z-index: 2;
	visibility: hidden;
}
.js-nav-active {
	visibility: visible;
}
.nav__box {
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;
	padding: 42px 39px;
	height: 100%;
	width: 376px;
}
.nav__box .button--primary {
	width: 100%;
	transition: .2s linear transform, .2s linear box-shadow;
}
.nav__box .button--primary:hover {
	opacity: 1;
	transform: translate(-5px, 0);
	box-shadow: 8px 8px 20px -5px #dbdbdb;
}
.nav__exit {
	background-color: transparent;
	border: none;
}
.nav_exit-icon {
	font-size: 27px;
}
.footer__text {
	font-weight: 500;
	color: inherit;
	font-style: italic;
	text-decoration: none;
}

@media (max-width: 768px) {
	.nav__input-serch {
		width: 100%;
	}
}
@media (max-width: 576px) {
	.nav__box {
		width: 100%;
	}
}